@model List<Order>

<div class="dashboard-table-container">
    <h2 class="dashboard-title">Мои ордеры</h2>

    <table class ="dashboard-table">
        <thead>
            <tr>
                <th>Валюта</th>
                <th>Тип</th>
                <th>Количество</th>
                <th>Цена</th>
                <th>Дата</th>
                <th>Состояние</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.Currency.ShortName</td>
                    <td>@(order.IsSellOrder ? "Продажа" : "Покупка")</td>
                    <td>@order.Amount</td>
                    <td>@order.ExchangeRate</td>
                    <td>@order.CreatedAt.ToString("yyyy-MM-dd HH:mm")</td>
                    <td>@(order.isFilled ? "Выполнен" : "Не выполнен" )</td>
                </tr>
            }
        </tbody>
    </table>
</div>